button.btn.btn-default {
    border-color: grey;
}

div.container {
    float: left;
}

div.photos-actions button.btn.btn-default.delete {
    float: left;
}

div.photos-actions input.selectall-input, label.selectall-checkbox{
    float: right;
    padding-right: 5px; 
}
