<!DOCTYPE html>
<html>
    <head>
        <title>Demo</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/demo.css') }}">
    </head>
    <body>
        <div class='container'>
            <div class='navbar'>
	              <a href='/' class="home">Home</a>
            </div>
            <div>
                <iframe
                    src="https://www.youtube.com/embed/ZDyZsqIcBnk" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
            </div>
        </div>
    </body>
</html>
