<!DOCTYPE html>
<html>
    <head>
        <title>Motiondetection Webconfigurator</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script type='text/javascript'>
	</script>
    </head>
    <body>
	<div class='body'>
	    <div class='tabs'>
                <a href='usage.html' class='usage'>Usage</a>
                <a href='about.html' class='about'>About</a>
                <a href='filler1.html' class='filler1'>Filler1</a>
                <a href='filler2.html' class='filler2'>Filler2</a>
                <a href='filler3.html' class='filler3'>Filler3</a>
	    </div>
	</div>
    </body>
</html>
