<!DOCTYPE html>
<html>
    <head>
        <title>Motiondetection Webconfigurator</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type='text/javascript'></script>
    </head>
    <body class='body'>
        <div class='tabs'>
            <a href='usage.html' class='usage'>Usage</a>
            <a href='about.html' class='about'>About</a>
            <a href='filler2.html' class='filler2'>Filler1</a>
            <a href='filler3.html' class='filler3'>Filler2</a>
            <a href='demo.html' class='demonstration'>Demo</a>
        </div>
        <div class='parent'>
            <div class='main'>
                <div class='main_sub'>
                    <h1 class='heading_main'>MotionDetection the DIY CCTV sytem</h1>
                    <br>
                    <div class='pcontainer'>
                        <p class='disclaimer'>
                            <b class='bold'>Disclaimer:</b> <b>The current code base does not work with anything other than a Raspberry Pi 4 B.
                            The E-mails are sent to sshmonitorapp@gmail.com by default - please change this address! I can make custom
                            images using your E-mail, so that you can just plug the system in and the pictures are sent to you. No tweaking
                            necessary on your part. Shoot me an E-mail if this sounds like something that you'd be interested in doing.</b>
                        </p>
                    </div>
                    <div class='pcontainer'>
                        <p class='notice'>
                            <b class='bold'>Notice:</b> <b>I am currently in need of a new RPI3 B+ and until I get one, everything has been moved to an RPI4 B.
                            I will leave the RPI3 B+ image link up and available. Though the image for the RPI3 needs a bit of tweaking on the
                            command line once it is installed. Things like the static route in place, the entry in wpa_suuplicant.conf to connect
                            to an AP, etc. - small tweaks. On the other hand, the RPI4 image is complete and will just boot up if you use a wired connection.</b>
                        </p>
                    </div>
                    <div class='pcontainer'>
                        <p class='description'>
                            <b class='bold'>Description:</b> <b>This system is called MotionDetection and it monitors motion from a USB webcam on a Raspberry Pi using
                            the OpenCV API. Once motion is detected by the system, it takes a picture of what set the motion detection software off
                            and E-mails that picture to you. It also affords the ability to remotely view that webcam from an android app from anywhere
                            in the world at anytime. So after you’re notified via E-mail, then you have the option of checking the camera’s live feed if
                            you’d like. This system is highly configurable and stable! Donate here if you'd like. You can contact me via E-mail if you
                            have any questions at amboxer21@gmail.com.</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
