<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset = "utf-8">
        <title> Invalid format!</title>
    <head>
    <body>
        <p>Please use a valid E-mail address and or password format! Your E-mail must be in a valid format and the password can only contain: numbers and letters.</p>
	<br>
	<p>The E-mail and password must be seperated by a comma as well.</p>
	<br>
	<br>
	<p>An exmaple URL should look like: <b>http://127.0.0.1:5000/configure/example@gmail.com,fakepassword</b></p>
    </body>
</html>
