<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        var images = [];
        $(function() {
            $('button').click(function() {
                document.getElementsByName('image').forEach(function(e) {
                    if(e.checked && (e.id !== '.hidden' || e.id !== 'on')) {
                        $.ajax({
                            url: '/delete_selected_photos',
                            data: {image : e.id},
                            type: 'POST',
                            success: function(response) {
                                console.log(response);
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                    }
                }); 
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MotionDetection</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link  href="index.html">Home</a>
                <a class="nav-link" href="#">Photos</a>
                <a class="nav-link" href="#">Configure</a>
            </div>
        </div>
    </nav>
    </br>
    <form role="form" method='POST' action="{{ url_for('delete_selected_photos') }}">
        <div class="container" style="overflow:scroll; height:400px;">
            <div class="form-group">
                {% for image in images %}
                    <input type="checkbox" id="{{ image }}" name="image"/>
                    <label for="{{ image }}">
                        <img "width="200" height="200" src="{{ image }}"/>
                    </label>
                {% endfor %}
            </div>
        </div>
        <div>
            <button type="submit" id="submit" class="btn btn-default">Delete</button>
       </div>
    </form>
</body>
</html>
